replicaCount: 2

image:
  repository: kind-registry:5000/inventory
  pullPolicy: IfNotPresent
  tag: "v2"

service:
  type: ClusterIP
  port: 3000

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "200m"

autoscaling:
  enabled: false

env: {}