replicaCount: 2

image:
  repository: kind-registry:5000/order-service
  pullPolicy: IfNotPresent
  tag: "v1"

service:
  type: ClusterIP
  port: 80

serviceAccount:
  name: ""

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "128Mi"
    cpu: "200m"

autoscaling:
  enabled: false

env: {}