# Istio Installation Values
# This file is used with istioctl install --set values.xxx

# Global settings
global:
  meshID: mesh1
  multiCluster:
    clusterName: k8s-lab
  network: network1

# Pilot (istiod) configuration
pilot:
  env:
    EXTERNAL_ISTIOD: false
    PILOT_TRACE_SAMPLING: 100.0
    PILOT_ENABLE_WORKLOAD_ENTRY_AUTOREGISTRATION: true

# Gateway configuration
gateways:
  istio-ingressgateway:
    type: LoadBalancer
    ports:
      - port: 15021
        targetPort: 15021
        name: status-port
        protocol: TCP
      - port: 80
        targetPort: 8080
        name: http2
        protocol: TCP
        nodePort: 31541
      - port: 443
        targetPort: 8443
        name: https
        protocol: TCP
        nodePort: 31026

# Telemetry v2 configuration
telemetry:
  v2:
    enabled: true
    prometheus:
      configOverride:
        metric_relabeling_configs:
          - source_labels: [__name__]
            regex: 'istio_.*'
            target_label: __tmp_istio_metric
        disable_host_header_fallback: true

# Tracing configuration
meshConfig:
  defaultConfig:
    tracing:
      sampling: 100.0
      custom_tags:
        my_tag_header:
          header:
            name: "x-custom-header"
    proxyStatsMatcher:
      inclusionRegexps:
        - ".*outlier_detection.*"
        - ".*circuit_breakers.*"
        - ".*upstream_rq_retry.*"
        - ".*_cx_.*"
      exclusionRegexps:
        - ".*osconfig.*"