# helm/frontend/values.yaml
replicaCount: 2

image:
  repository: kind-registry:5002/frontend
  pullPolicy: IfNotPresent
  tag: "v1"

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "128Mi"
    cpu: "200m"