replicaCount: 2

image:
  repository: kind-registry:5000/frontend
  pullPolicy: IfNotPresent
  tag: "v2"

service:
  type: ClusterIP
  port: 80

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""

resources:
  requests:
    memory: "64Mi"
    cpu: "50m"
  limits:
    memory: "128Mi"
    cpu: "200m"

autoscaling:
  enabled: false

env:
  API_GATEWAY_HOST: "app-stack-api-gateway"
  API_GATEWAY_PORT: "8000"